/* Roboto & Noto Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-yellow-200: #FFC470;
    --color-yellow-100: #FFDCAB;
    --color-yellow-300: #AE792F;
    --color-dark-red-100: #8B322C;
    --color-dark-red-200: #8E2518;
    --color-red-100: #DD5746;
    --color-dark-blue-100: #4793AF;
    --color-black: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-dark-red-100);
}

h2,h3 {
    font-family: 'Noto Sans', sans-serif;
}

.grain-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.06;
    top: 0;
    left: 0;

    z-index: -1;
}

.grain-effect img {
    width: 100%;
    height: 100%;
}

@keyframes reveal-text-hero {
    0% {
        opacity: 0;
        filter: blur(70px);
    }

    75% {
        opacity: 0.75;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes wavy {
    0% {
        opacity: 0;
        filter: blur(20px);
        bottom: -26vh;
    }
    75% {
        filter: blur(2px);
        bottom: 0;
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
    
}

@keyframes img-reveal {
    0% {
        opacity: 0;
        transform: scale(1.1);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

@keyframes reveal-title {
    0% {
        filter: blur(10px);
        max-height: 0;
    }

    75% {
        filter: blur(0);
    }

    100% {
        filter: blur(0);
        max-height: 10vh;
    }
}

@keyframes reveal-text {
    0% {
        opacity: 0;
        filter: blur(70px);
    }

    75% {
        opacity: 0.75;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes translate-header {
    0% {
        opacity: 0;
        left: -50vw;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.animation__reveal-title.show {
    animation: reveal-title 3s ease 0.6s 1 forwards;
}

.animation__reveal-text.show {
    animation-name: reveal-text;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animation__wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: calc(2s / var(--i));
    animation-fill-mode: forwards;
}

.animation__reveal-text-hero {
    animation-name: reveal-text-hero;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animation__reveal-header {
    animation-name: reveal-text-hero;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animation__reveal-img {
    animation: img-reveal 1.5s ease-in 0s 1 forwards;
}

.animation__translate-header.show {
    animation: translate-header 0.4s ease-out 0.1s 1 forwards;
}

.section__hero {
    position: relative;
    scroll-snap-align: start;
    background-size: cover;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    opacity: 1;

    z-index: 99;
    position: relative;
}

.header__title {
    color: var(--color-yellow-100);
}

.header__nav__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list__nav-item a {
    text-decoration: none;
    color: var(--color-yellow-200);

    font-weight: 700;
}

.header__mode-btn {
    background-color: transparent;
    border: none;
    color: var(--color-yellow-200);

    display: flex;
    align-items: center;

    min-width: 24px;
    min-height: 24px;

    font-weight: 700;

    cursor: pointer;
}

.mode-btn__moon-icon {
    fill: var(--color-yellow-200);
}

.section__hero__text-container {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.section__hero__text-container__text-top {
    color: var(--color-yellow-200);
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;
}

.section__hero__text-container__text-bottom__top,
.section__hero__text-container__text-bottom__bottom {
    display: flex;

    gap: 1vw;
}

.section__hero__text-container__text-bottom .section__hero__type {
    color: var(--color-yellow-100);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;

    position: relative;

    opacity: 0;
}

.section__hero__bg-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -2;
}

.section__hero__bg-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;

    opacity: 0;
}

.section__about {
    scroll-snap-align: start;
    height: 100svh;

    position: relative;

    background: linear-gradient(110deg, var(--color-yellow-100) 0%, var(--color-yellow-200) 34%, var(--color-yellow-100) 70%, var(--color-yellow-300) 100%);
}

.section__header {
    width: 100%;
    display: flex;
    align-items: center;

    position: relative;
    left: -50vw;
}

.section__header__line {
    width: 115px;
    height: 2px;
    
    background-color: var(--color-black);
}

.section__about__content__container {
    display: flex;
    align-items: flex-start;
}

.left__title__container {
    min-height: 5vw;
}
.section__about__content__left__title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;

    overflow: hidden;

    max-height: 0;

    position: relative;
}

.section__about__content__right {
    display: flex;
    flex-direction: column;
}

.section__about__content__right__text {
    opacity: 0;
}

.section__philosophy {
    scroll-snap-align: start;
    height: 100vh;
    position: relative;

    background: linear-gradient(180deg, var(--color-yellow-200) 0%, var(--color-red-100) 34%, var(--color-dark-red-100) 70%, var(--color-dark-red-200) 100%);
}

.section__philosophy__container {
    display: flex;
    align-items: center;
    height: 100%;

}

.section__philosophy__left {
    width: 35%;
    height: 100%;

    position: relative;
}

.section__philosophy__img-border {
    width: 40vh;
    height: 50vh;

    border: 2px solid white;
    border-radius: 10px;

    position: absolute;
}

.section__philosophy__left img {
    width: 37vh;
    height: 50vh;

    object-fit: cover;

    border-radius: 10px;
}

.section__philosophy__img-1 {
    position: absolute;
}

.section__philosophy__img-2 {
    position: absolute;
}

.float-navigator__container {
    position: fixed;
    top: 50vh;
    right: 4vw;

    width: 4px;
    height: 198px;

    transform: translate(-50%, -50%);

    background-color: var(--color-dark-blue-100);

    opacity: 0;
}

.float-navigator__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}

.float-navigator__nav-item {
    width: 10px;
    height: 10px;

    border-radius: 50%;

    background-color: var(--color-dark-blue-100);

    cursor: pointer;
}

.float-navigator__nav-item.active {
    width: 20px;
    height: 20px;

    background-color: var(--color-dark-red-100);

    transition: all .4s ease;
}


@media screen and (min-width: 1280px) {
    h3 {
        font-size: 2.25rem;
    }
    .section__hero {
        padding: 40px;
    }

    .header__nav__nav-list {
        column-gap: 40px;
    }

    .nav-list__nav-item a {
        font-size: 1.2rem;
    }

    .header__mode-btn {
        font-size: 1.2rem;

        column-gap: 10px;
    }

    .mode-btn__moon-icon {
        width: 24px;
        height: 24px;
    }

    .section__hero__text-container {
        left: 20px;
    }

    .section__hero__text-container__text-top {
        max-width: 370px;

        font-size: 2rem;

        margin-bottom: 5vw;
    }

    .section__hero__text-container__text-bottom .section__hero__type {
        font-size: 16.7vw;

        margin-left: -1.3vw;
        line-height: 13vw;
    }

    .section__about{
        padding: 80px 40px 40px 40px;
    }

    .section__header {
        column-gap: 40px;
    }

    .section__header__title {
        font-size: 1.25vw;
    }

    .section__about__content__container {
        column-gap: 3vw;

        margin-top: 10vh;
    }

    .section__about__content__left__title {
        font-size: 5vw;
        line-height: 4.5vw;
    }

    .section__about__content__right {
        row-gap: 2vw;
    }

    .section__about__content__right__text {
        font-size: 1.5vw;
        line-height: 3vw;

        margin-right: 10vw;
    }

    .section__philosophy {
        padding: 80px 40px 40px 40px;
    }
    
    .section__philosophy__container {
        padding: 3vw 0 3vw 0;
    }

    .section__philosophy__img-border{
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    .section__philosophy__img-2{
        bottom: 0;
        right: 0;
    }
}
