/* Roboto & Noto Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* oohh baby font*/
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');


:root {
    /* --color-yellow-200: #FFC470;
    --color-yellow-100: #FFDCAB;
    --color-yellow-300: #AE792F;
    --color-dark-red-100: #8B322C;
    --color-dark-red-200: #8E2518;
    --color-dark-red-250: #8C3731;
    --color-dark-red-300: #461111;
    --color-dark-red-400: #4D0F0F;
    --color-dark-red-450: #160403;
    --color-red-100: #DD5746;
    --color-dark-blue-100: #4793AF;
    --color-black: black;
    --color-white: white; */

    --color-yellow-100-to-white : #FFDCAB;
    --color-yellow-100-to-yellow-200: #FFDCAB;
    --color-yellow-100: #FFDCAB;
    --color-yellow-200: #FFC470;
    --color-yellow-200-to-white: #FFC470;
    --color-dark-red-200-to-red-100: #8E2518;
    --color-black-to-white: black;
    --color-dark-red-200: #8E2518;
    --color-white: white;
    --color-yellow-100-to-dark-red-300: #FFDCAB;
    --color-yellow-200-to-dark-red-100: #FFC470;
    --color-yellow-100-to-dark-red-200: #FFDCAB;
    --color-yellow-300-to-dark-red-300: #AE792F;
    --color-yellow-200-to-dark-red-250: #FFC470;
    --color-red-100-to-dark-red-400: #DD5746;
    --color-dark-red-100-to-dark-red-450: #8B322C;
    --color-dark-red-200-to-black: #8E2518;
    --color-dark-blue-100-to-black: #4793AF;
    --color-dark-red-100-to-black: #8B322C;
    --color-white-to-red-100: white;
}

.dark-mode{
    --color-yellow-100-to-white : white;
    --color-yellow-100-to-yellow-200: #FFC470;
    --color-yellow-100: #FFDCAB;
    --color-yellow-200: #FFC470;
    --color-yellow-200-to-white: white;
    --color-dark-red-200-to-red-100: #DD5746;
    --color-black-to-white: white;
    --color-white: white;
    --color-yellow-100-to-dark-red-300: #461111;
    --color-yellow-200-to-dark-red-100: #8B322C;
    --color-yellow-100-to-dark-red-200: #8E2518;
    --color-yellow-300-to-dark-red-300: #461111;
    --color-yellow-200-to-dark-red-250: #8C3731;
    --color-red-100-to-dark-red-400: #4D0F0F;
    --color-dark-red-100-to-dark-red-450: #160403;
    --color-dark-red-200-to-black: black;
    --color-dark-blue-100-to-black: black;
    --color-dark-red-100-to-black: black;
    --color-white-to-red-100: #DD5746;

    transition: all .4s ease-in;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: var(--color-dark-red-100-to-black);
    transition: background-color 2s ease, color 2s ease;
}

h2,
h3 {
    font-family: 'Noto Sans', sans-serif;
}

.grain-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.06;
    top: 0;
    left: 0;

    z-index: 2;

    pointer-events: none;
}

.grain-effect img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@keyframes reveal-text-hero {
    0% {
        opacity: 0;
        filter: blur(70px);
    }

    75% {
        opacity: 0.75;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes wavy {
    0% {
        opacity: 0;
        filter: blur(20px);
        bottom: -26vh;
    }

    75% {
        filter: blur(2px);
        bottom: 0;
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }

}

@keyframes img-reveal {
    0% {
        opacity: 0;
        transform: scale(1.1);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

@keyframes reveal-title {
    0% {
        filter: blur(10px);
        max-height: 0;
    }

    75% {
        filter: blur(0);
    }

    100% {
        filter: blur(0);
        max-height: 10vh;
    }
}

@keyframes reveal-text {
    0% {
        opacity: 0;
        filter: blur(70px);
    }

    75% {
        opacity: 0.75;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes translate-header {
    0% {
        opacity: 0;
        left: -50vw;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.animation__reveal-title.show {
    animation: reveal-title 3s ease 0.6s 1 forwards;
}

.animation__reveal-text.show {
    animation-name: reveal-text;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animation__wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: calc(2s / var(--i));
    animation-fill-mode: forwards;
}

.animation__reveal-text-hero {
    animation-name: reveal-text-hero;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animation__reveal-header {
    animation-name: reveal-text-hero;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animation__reveal-img {
    animation: img-reveal 1.5s ease-in 0s 1 forwards;
}

.animation__translate-header.show {
    animation: translate-header 0.4s ease-out 0.1s 1 forwards;
}

.section__hero {
    position: relative;
    scroll-snap-align: start;
    background-size: cover;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    opacity: 0;

    z-index: 99;
    position: relative;
    
}

.burger-btn {
    display: none;

    border: none;
    background-color: transparent;
    color: var(--color-yellow-200-to-white);

    cursor: pointer;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: var(--color-yellow-200-to-white);

    position: absolute;
    display: none;

    cursor: pointer;
}

.header__title {
    color: var(--color-yellow-100);
    margin-right: auto;
    margin-left: auto;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.header__nav__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list__nav-item a {
    text-decoration: none;
    color: var(--color-yellow-200-to-white);

    font-weight: 700;

    border-bottom: 0px solid var(--color-yellow-200-to-white);

}

.nav-list__nav-item a:hover {
    border-bottom: 2px solid var(--color-yellow-200-to-white);
}

@keyframes change-mode {
    0% {
      transform: rotate(0);
    }
  
  
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
  
  @keyframes pop-up-icon {
    0%{
      opacity: 0;
      transform: rotate(0);
    }
    100% {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  
  .animation__pop-up-icon {
    animation: pop-up-icon 0.5s ease-in 0s 1;
  }
  
  .animation__mode-btn {
    animation: change-mode 0.5s ease-out 0s 1;
  }

.header__mode-btn__dark, .header__mode-btn__light {
    background-color: transparent;
    border: none;
    color: var(--color-yellow-200-to-white);

    display: flex;
    align-items: center;

    min-width: 24px;
    min-height: 24px;

    font-weight: 700;

    cursor: pointer;
}

.header__mode-btn__dark.hide, .header__mode-btn__light.hide {
    display: none;
}

.mode-btn__moon-icon, .mode-btn__sun-icon {
    fill: var(--color-yellow-200-to-white);
}

.section__hero__text-container {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.section__hero__text-container__text-top {
    color: var(--color-yellow-200-to-white);
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;
}

.section__hero__text-container__text-bottom__top,
.section__hero__text-container__text-bottom__bottom {
    display: flex;

    gap: 1vw;
}

.section__hero__text-container__text-bottom .section__hero__type {
    color: var(--color-yellow-100-to-white);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;

    position: relative;

    opacity: 0;
}

.section__hero__bg-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -2;
}

.section__hero__bg-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;

    opacity: 0;
}

.section__about {
    scroll-snap-align: start;
    height: 100svh;

    position: relative;

    background: linear-gradient(110deg, var(--color-yellow-100-to-dark-red-300) 0%, var(--color-yellow-200-to-dark-red-100) 34%, var(--color-yellow-100-to-dark-red-200) 70%, var(--color-yellow-300-to-dark-red-300) 100%);
    overflow: hidden;
}

.section__header {
    width: 100%;
    display: flex;
    align-items: center;

    position: relative;
    left: -50vw;
}

.section__header__line {
    background-color: var(--color-black-to-white);
}

.section__header__title {
    color: var(--color-black-to-white);
}

.section__about__content__container {
    display: flex;
    align-items: flex-start;
}

.left__title__container {
    min-height: 5vw;
}

.section__about__content__left__title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;

    overflow: hidden;

    max-height: 0;

    position: relative;
    color: var(--color-black-to-white);
}

.section__about__content__right {
    display: flex;
    flex-direction: column;
}

.section__about__content__right__text {
    opacity: 0;
    color: var(--color-black-to-white);
}

.section__philosophy {
    scroll-snap-align: start;
    height: 100vh;
    position: relative;

    background: linear-gradient(180deg, var(--color-yellow-200-to-dark-red-250) 0%, var(--color-red-100-to-dark-red-400) 34%, var(--color-dark-red-100-to-dark-red-450) 70%, var(--color-dark-red-200-to-black) 100%);
    overflow: hidden;
}

.section__philosophy__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.philosophy__tagline  {
    position: absolute;
    right: 0;
    top: 0;

    opacity: 0.5;
}

.philosophy__tagline h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;

    text-transform: uppercase;
    color: var(--color-yellow-100-to-yellow-200);
    line-height: 60%;
}

.section__philosophy__left {
    width: 35%;
    height: 100%;

    position: relative;
    z-index: 1;
}

@keyframes philosophy-img-border {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;

        width: 0;
        height: 50vh;
        
    }

    100% {
        width: 40vh;
        opacity: 1;
    }
}

.section__philosophy__img-border {

    border: 2px solid white;
    border-radius: 10px;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

@keyframes philosophy-img-1 {
    0% {
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        opacity: 0;

        filter: blur(10px);
    }

    50% {
        opacity: 0.3;
    }

    75% {
        opacity: 0.7;
    }

    100% {
        top: 0;
        left: 0;

        transform: translate(0);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes philosophy-img-2 {
    0% {
        bottom: 50%;
        right: 50%;

        transform: translate(50%, 50%);
        opacity: 0;
        filter: blur(10px);

    }

    50% {
        opacity: 0.3;
    }

    75% {
        opacity: 0.7;
    }

    100% {
        bottom: 0;
        right: 0;

        transform: translate(0);
        opacity: 1;
        filter: blur(0);

    }
}

.animation__philosophy__reveal-text.show {
    animation-name: reveal-text;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.animation__philosophy-img-border.show {
    animation: philosophy-img-border 2s ease-out 0s 1 forwards;
}
.animation__philosophy-img-1.show {
    animation: philosophy-img-1 2s ease-out 1.5s 1 forwards;
}

.animation__philosophy-img-2.show {
    animation: philosophy-img-2 2s ease-out 1.5s 1 forwards;
}

.section__philosophy__left img {

    object-fit: cover;

    border-radius: 10px;
}

.section__philosophy__img-1 {
    position: absolute;

    opacity: 0;

    bottom: 50%;
    right: 50%;

    transform: translate(50%, 50%);
}

.section__philosophy__img-2 {
    position: absolute;
    opacity: 0;

    bottom: 0;
    right: 0;
}

.section__philosophy__right {
    width: 55%;
    height: fit-content;

    position: relative;

    display: flex;
    flex-direction: column;

    z-index: 1;
}

.philosophy__right__top__text {
    color: var(--color-white);
    opacity: 0;
}

.philosophy__right__bottom {
    position: relative;

    height: fit-content;
}

@keyframes the-three-pilars {
    0% {
        opacity: 0;
        left: -10vw;
        filter: blur(10px);
    }

    100% {
        filter: blur(0);
        opacity: 1;
        left: 0;
    }
}

.animation__the-three-pilars.show {
    animation: the-three-pilars 2s ease-out 0.3s 1 forwards;
}   

.philosophy__right__bottom__left {
    transform: rotate(270deg);
    color: var(--color-yellow-200);

    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    
    height: 100%;

    position: absolute;
    bottom: 0;
    left: -10vw;
    opacity: 0;
}

.philosophy__right__bottom__right {
    display: flex;
    flex-direction: column;

    color: var(--color-white);

    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes philosophy-pilars {
    0% {
        filter: blur(10px);
        max-width: 0;
    }

    100% {
        filter: blur(0);
        max-width: 100%;
    }
}

.philosophy__right__bottom__right__text {
    border-bottom: 2px solid var(--color-white);
    overflow: hidden;
    max-width: 0;
}

.animation__philosophy-pilars.show {
    animation: philosophy-pilars 1s ease-in 1 forwards;
    animation-delay: calc(20s / var(--i));
}

.section__products {
    scroll-snap-align: start;
    height: 100vh;

    background-color: var(--color-dark-blue-100-to-black);
    position: relative;

    overflow: hidden;
}

.products__tagline h1 {
    position: absolute;
    bottom: 0;
    right: 0;

    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    color: var(--color-yellow-200-to-white);
    text-transform: uppercase;
}

.products__content {
    display: grid;
    width: 90vw;
    height: 70vh;
    z-index: 1;
}

@keyframes product-item {
    0% {
        opacity: 0;
        height: 0;
        filter: blur(5px);
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        height: 100%;
        filter: blur(0);
    }
}

.product__item {
    width: 100%;
    height: 0%;
    opacity: 0;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.animation__product-item.show {
    animation: product-item 1.3s ease-in 0s 1 forwards;
}


.product__item__title-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    z-index: 1;
}

.product__item__title {
    color: var(--color-yellow-100-to-white);
    text-transform: uppercase;
    font-weight: 900;
}

.product__item__img-container {
    width: 100%;
    height: 100%;

    overflow: hidden;
}
.product__item__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    transition: transform .5s ease;
}

.product__item__img-container img:hover {
    transform: scale(1.3);
}

.footer {
    scroll-snap-align: start;
    background-color: var(--color-dark-red-100-to-black);

    color: var(--color-yellow-200-to-white);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.footer__middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__middle__left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    width: 65%;
}

.footer__tagline {
    text-transform: uppercase;
    font-family: 'Noto Sans';
    font-weight: 900;
}

.footer__tagline__italic {
    font-family: "Oooh Baby", cursive;
    text-transform: none;
    font-weight: 400;
}

.footer__middle__right {
    width: 35%;
}
.footer__nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.footer__nav-item {
    display: flex;
    align-items: center;

}

.footer__nav-item a {
    text-decoration: none;
    color: var(--color-yellow-200-to-white);
    border-bottom: 2px solid var(--color-yellow-200-to-white);
    font-weight: 700;
}

.footer__nav-item a:hover .nav-icon {
    transform: scale(1.3);
    transition: transform 0.6s ease-out;
}

.footer__social-media__text {
    font-weight: 700;
}

.social-media__container {
    display: flex;
    align-items: center;
}

.social-media__container a {
    text-decoration: none;
    color: var(--color-yellow-200-to-white);
    transition: transform 0.2s ease-in;

}

.social-media__container a:hover {
    transform: scale(1.3);
}
.float-navigator__container {
    position: absolute;
    top: 50vh;
    right: 4vw;

    width: 4px;
    height: 198px;

    transform: translate(-50%, -50%);

    background-color: var(--color-yellow-200-to-white);
}

.float-navigator__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}

.float-navigator__nav-item {
    width: 16px;
    height: 16px;

    border-radius: 50%;

    background-color: var(--color-yellow-200-to-white);
    pointer-events: auto;
    cursor: pointer;
}


.float-navigator__nav-item.active {
    width: 30px;
    height: 30px;

    background-color: var(--color-white-to-red-100);

    transition: all .4s ease;
}


@media screen and (min-width: 1280px) {
    html {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    h3 {
        font-size: 2.25rem;
    }

    .section__hero {
        padding: 40px;
    }

    .header__nav__nav-list {
        column-gap: 40px;
    }

    .nav-list__nav-item a {
        font-size: 1.2rem;
    }

    .header__mode-btn__dark, .header__mode-btn__light {
        font-size: 1.2rem;

        column-gap: 10px;
    }

    .mode-btn__moon-icon, .mode-btn__sun-icon {
        width: 24px;
        height: 24px;
    }

    .section__hero__text-container {
        left: 20px;
    }

    .section__hero__text-container__text-top {
        max-width: 370px;

        font-size: 2rem;

        margin-bottom: 5vw;
    }

    .section__hero__text-container__text-bottom .section__hero__type {
        font-size: 16.7vw;

        margin-left: -1.3vw;
        line-height: 13vw;
    }

    .section__about {
        padding: 40px 40px 40px 40px;
    }

    .section__header {
        column-gap: 40px;
    }

    .section__header__line {
        width: 115px;
        height: 2px;
        }

    .section__header__title {
        font-size: 1.25vw;
    }

    .section__about__content__container {
        column-gap: 3vw;

        margin-top: 10vh;
    }

    .section__about__content__left__title {
        font-size: 5vw;
        line-height: 4.5vw;
    }

    .section__about__content__right {
        row-gap: 2vw;
    }

    .section__about__content__right__text {
        font-size: 1.5vw;
        line-height: 3vw;

        margin-right: 10vw;
    }

    .section__philosophy {
        padding: 40px 40px 40px 40px;
    }

    .philosophy__tagline h1 {
        font-size: 18vw;
        margin-right: 1vw;
    }

    .section__philosophy__container {
        padding: 3vw 0 3vw 0;
    }

    .section__philosophy__left img {
        width: 37vh;
        height: 50vh;
    }

    @keyframes philosophy-img-border {
        0% {
            opacity: 0;
        }
    
        25% {
            opacity: 1;
    
            width: 0;
            height: 50vh;
            
        }
    
        100% {
            width: 40vh;
            opacity: 1;
        }
    }
    
    .section__philosophy__img-border {
        width: 0;
        height: 50vh;
    }

    .section__philosophy__right {
        margin-left: 7vw;
        margin-right: 6vw;
    }

    .philosophy__right__top__text {
        font-size: 1.5vw;
        line-height: 3vw;

        margin-bottom: 2vw;
    }

    .philosophy__right__bottom__left__text {
        font-size: 1.5vw;
        margin-left: -2vw;
    }

    .philosophy__right__bottom__right__text {
        font-size: 4vw;
    }

    .section__products {
        padding: 0 40px 40px 0px;
    }

    .products__tagline h1 {
        font-size: 18vw;
        line-height: 16vw;
        margin-right: 1vw;
        margin-bottom: -1.5vh;
    }

    .products__content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50% 50%;
    }

    .product__item__title {
        font-size: 2vw;
    }

    .footer {
        padding: 40px;
        height: 100vh;
    }

    .footer__top p {
        font-size: 2vw;
    }

    .footer__middle__left {
        row-gap: 2vw;
        max-width: 60%;
    }

    .footer__tagline {
        font-size: 7vw;
        line-height: 6vw;
    }

    .footer__desc {
        font-size: 2vw;
        max-width: 80%;
    }

    .footer__nav-item a {
        font-size: 4vw;
        margin-right: 2vw;
    }

    .nav-icon {
        width: 2vw;
        height: 2vw;
    }

    .footer__social-media {
        margin-top: 2vw;
    }

    .footer__social-media__text {
        font-size: 3vw;
    }

    .social-media__container {
        column-gap: 3vw;
        margin-top: 2vw;
    }
    .instagram-icon, .twitter-icon, .tiktok-icon, .youtube-icon {
        width: 2.5vw;
        height: 2.5vw;
    }

    .footer__credit {
        font-size: 2vw;
    }
    
}

@media screen and (min-width: 843px) and (max-width: 1280px) {
    h3 {
        font-size: 2.25rem;
    }

    .header__nav {
        position: absolute;
        height: 100vh;
        width: 25%;
        top: 0;
        left: 0;
        background-color: var(--color-dark-red-100-to-black);

        padding: 30px;

        transform: translate(-100%);
        transition: transform .4s ease-in;
    }

    .header__nav.open {
        transform: translate(0);
    }
    

    .burger-btn {
        display: block;
        width: 40px;
        height: 40px;
    }

    .burger-icon {
        width: 40px;
        height: 40px;
    }

    .close-btn {
        display: block;
        width: 24px;
        height: 24px;
    }

    .close-icon {
        width: 24px;
        height: 24px;
    }

    .section__hero {
        padding: 0;
    }

    .header {
        padding: 40px;
    }

    .header__nav__nav-list {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 20px;

        margin-top: 5vw;
    }

    .nav-list__nav-item a {
        font-size: 1.5rem;
        text-transform: uppercase;
        border-bottom: 1px solid var(--color-yellow-200-to-white);
    }

    .header__mode-btn__dark, .header__mode-btn__light {
        width: 40px;
        height: 40px;
    }

    .header__mode-btn__dark p, .header__mode-btn__light p {
        display: none;
    }

    .mode-btn__moon-icon, .mode-btn__sun-icon {
        width: 40px;
        height: 40px;
    }

    .section__hero__text-container {
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        align-items: center;
    }

    .section__hero__text-container__text-top {
        max-width: 370px;

        font-size: 3vw;

        margin-bottom: 10vw;
        text-align: center;
    }

    .section__hero__text-container__text-bottom__top,
    .section__hero__text-container__text-bottom__bottom {
        width: 100%;
        justify-content: center;
    }

    .section__hero__text-container__text-bottom__top {
        margin-bottom: 5vw;
    }

    .section__hero__text-container__text-bottom__top .section__hero__type {
        font-size: 30vw;

        line-height: 13vw;
    }

    .section__hero__text-container__text-bottom__bottom .section__hero__type {
        font-size: 13.5vw;

        line-height: 13vw;
    }

    .section__about {
        padding: 40px 40px 40px 40px;
        height: 70vw;
    }

    .section__header {
        column-gap: 40px;
    }

    .section__header__line {
        width: 115px;
        height: 2px;
    
    }

    .section__header__title {
        font-size: 1.25vw;
    }

    .section__about__content__container {
        flex-direction: column;
        row-gap: 5vw;
        column-gap: 3vw;

        margin-top: 4vh;
        padding: 40px;
    }

    .section__about__content__left__title {
        font-size: 7vw;
        line-height: 6vw;
    }

    .section__about__content__right {
        row-gap: 2vw;
    }

    .section__about__content__right__text {
        font-size: 1.5vw;
        line-height: 3vw;

        margin-right: 10vw;
    }

    .section__philosophy {
        padding: 40px 40px 40px 40px;
        height: 75vh;
    }

    .philosophy__tagline h1 {
        font-size: 18vw;
        margin-right: 1vw;
    }

    .section__philosophy__container {
        padding: 3vw 0 3vw 0;
    }

    .section__philosophy__left {
        width: 50%;
        height: 90%;
    }

    @keyframes philosophy-img-border {
        0% {
            opacity: 0;
        }
    
        25% {
            opacity: 1;
    
            width: 0;
            
        }
    
        100% {
            width: 20vh;
            opacity: 1;
        }
    }
    
    .section__philosophy__img-border {
        width: 0;
        height: 30vh;
    }

    .section__philosophy__left img {
        width: 20vh;
        height: 30vh;
    }

    .section__philosophy__right {
        margin-left: 7vw;
        margin-right: 6vw;
    }

    .philosophy__right__top__text {
        font-size: 1.5vw;
        line-height: 3vw;

        margin-bottom: 2vw;
    }

    .philosophy__right__bottom__left__text {
        font-size: 1.5vw;
        margin-left: -2vw;
    }

    .philosophy__right__bottom__right__text {
        font-size: 4vw;
    }

    .section__products {
        padding: 0 40px 40px 0px;
        height: 100vh;
    }

    .products__tagline h1 {
        font-size: 18vw;
        line-height: 16vw;
        margin-right: 1vw;
        margin-bottom: 0vh;
    }

    .products__content {
        display: grid;
        width: 90vw;
        height: 70vh;
    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:35% 35% 35%;
        z-index: 1;
    }

    .product__item__title {
        font-size: 2vw;
    }

    .footer {
        padding: 40px;
        height: 70vw;
    }

    .footer__top p {
        font-size: 2vw;
    }

    .footer__middle__left {
        row-gap: 1vw;
    }

    .footer__tagline {
        font-size: 8vw;
        line-height: 7vw;
        
    }

    .footer__desc {
        font-size: 2vw;
        max-width: 80%;
    }

    .footer__nav-item a {
        font-size: 4vw;
        margin-right: 2vw;
    }

    .nav-icon {
        width: 2vw;
        height: 2vw;
    }

    .footer__social-media {
        margin-top: 2vw;
    }

    .footer__social-media__text {
        font-size: 3vw;
    }

    .social-media__container {
        column-gap: 3vw;
        margin-top: 2vw;
    }
    .instagram-icon, .twitter-icon, .tiktok-icon, .youtube-icon {
        width: 2.5vw;
        height: 2.5vw;
    }

    .footer__credit {
        font-size: 2vw;
    }

    .float-navigator__container {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 843px) {
    h3 {
        font-size: 1.5rem;
    }

    .header__nav {
        position: absolute;
        height: 100vh;
        width: 40%;
        top: 0;
        left: 0;
        background-color: var(--color-dark-red-100-to-black);

        padding: 30px;

        transform: translate(-200%);
        transition: transform .4s ease-in;

        z-index: 9999;
    }

    .header__nav.open {
        transform: translate(0);
    }
    

    .burger-btn {
        display: block;
        width: 30px;
        height: 30px;
    }

    .burger-icon {
        width: 24px;
        height: 24px;
    }

    .close-btn {
        display: block;
        width: 24px;
        height: 24px;
    }

    .close-icon {
        width: 24px;
        height: 24px;
    }

    .section__hero {
        padding: 0;
    }

    .header {
        padding: 20px;
    }

    .header__nav__nav-list {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 24px;

        margin-top: 12vw;
    }

    .nav-list__nav-item {
        min-height: 24px;
    }

    .nav-list__nav-item a {
        font-size: 1rem;
        min-height: 24px;
        text-transform: uppercase;
        border-bottom: 1px solid var(--color-yellow-200-to-white);

        padding-bottom: 6px;
    }

    .header__mode-btn__dark, .header__mode-btn__light {
        width: 30px;
        height: 30px;
    }

    .header__mode-btn__dark p, .header__mode-btn__light p {
        display: none;
    }

    .mode-btn__moon-icon, .mode-btn__sun-icon {
        width: 24px;
        height: 24px;
    }

    .section__hero__text-container {
        left: 50%;
        top: 55%;
        transform: translate(-50%,-50%);
        align-items: center;
    }

    .section__hero__text-container__text-top {
        max-width: 370px;

        font-size: 1rem;

        margin-bottom: 10vw;
        text-align: center;
    }

    .section__hero__text-container__text-bottom__top,
    .section__hero__text-container__text-bottom__bottom {
        width: 100%;
        justify-content: center;
    }

    .section__hero__text-container__text-bottom__top {
        margin-bottom: 5vw;
    }

    .section__hero__text-container__text-bottom__top .section__hero__type {
        font-size: 30vw;

        line-height: 13vw;
    }

    .section__hero__text-container__text-bottom__bottom .section__hero__type {
        font-size: 13.5vw;

        line-height: 13vw;
    }

    .section__about {
        padding: 20px;
        height: 70vh;
    }

    .section__header {
        column-gap: 20px;
    }

    .section__header__line {
        width: 75px;
        height: 1px;
        }

    .section__header__title {
        font-size: 0.75rem;
    }

    .section__about__content__container {
        flex-direction: column;
        row-gap: 5vw;
        column-gap: 3vw;

        margin-top: 4vh;
    }

    .section__about__content__left__title {
        font-size: 7vw;
        line-height: 6vw;
    }

    .section__about__content__right {
        row-gap: 2vw;
    }

    .section__about__content__right__text {
        font-size: 0.75rem;
        line-height: 1rem;

        margin-right: 10vw;
    }

    .section__philosophy {
        padding: 20px;
        height: 65vh;
    }

    .philosophy__tagline h1 {
        font-size: 18vw;
        margin-right: 1vw;
    }

    .section__philosophy__container {
        padding: 0;
        align-items: start;

        margin-top: 6vw;
    }

    .section__philosophy__left {
        width: 50%;
        height: 70%;
    }

    @keyframes philosophy-img-border {
        0% {
            opacity: 0;
        }
    
        25% {
            opacity: 1;
    
            width: 0;
            
        }
    
        100% {
            width: 80%;
            opacity: 1;
        }
    }
    
    .section__philosophy__img-border {
        width: 0;
        height: 70%;
    }

    .section__philosophy__left img {
        width: 80%;
        height: 70%;
    }

    .section__philosophy__right {
        margin-left: 7vw;
    }

    .philosophy__right__top__text {
        font-size: 0.75rem;
        line-height: 1rem;

        margin-bottom: 2vw;
    }


    .philosophy__right__bottom__left__text {
        font-size: 1.5vw;
        margin-left: -2vw;
    }

    .philosophy__right__bottom__right__text {
        font-size: 4vw;
    }

    .section__products {
        padding: 0 40px 40px 0px;

        height: 70vh;
    }

    .products__tagline h1 {
        font-size: 18vw;
        line-height: 16vw;
        margin-right: 1vw;
        margin-bottom: 0vh;
    }

    .products__content {
        display: grid;
        width: 80vw;
        height: 50vh;
    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:35% 35% 35%;
        z-index: 1;
    }

    .product__item__title {
        font-size: 0.75rem;
    }

    .footer {
        padding: 20px;
        height: fit-content;
    }

    .footer__top p {
        font-size: 0.75rem;
    }

    .footer__middle {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .footer__middle__left {
        row-gap: 1.5vw;
    }

    .footer__tagline {
        font-size: 8vw;
        line-height: 7vw;
    }

    .footer__desc {
        font-size: 0.75rem;
        max-width: 80%;
    }

    .footer__nav-list {
        row-gap: 8px;
    }

    .footer__nav-item a {
        font-size: 4vw;
        margin-right: 2vw;
        padding-bottom: 6px;
    }

    .nav-icon {
        width: 2vw;
        height: 2vw;
    }

    .footer__social-media {
        margin-top: 2vw;
    }

    .footer__social-media__text {
        font-size: 3vw;
    }

    .social-media__container {
        column-gap: 3vw;
        margin-top: 2vw;
    }

    .social-media__container a {
        min-width: 24px;
        min-height: 24px;
    }
    .instagram-icon, .twitter-icon, .tiktok-icon, .youtube-icon {
        width: 2.5vw;
        height: 2.5vw;
    }

    .footer__credit {
        font-size: 0.75rem;
    }

    .float-navigator__container {
        display: none;
    }
}